@import'../head.styl'
body
  background-color #efefef
.info-cover
  width 100%
  height 100%
  background rgba(0,0,0,0.3)
  position absolute
  z-index 10
.header
  height 50px
  background-color #fff
.icon-back
  display block
  width 50px
  height 50px
  background url("../../img/nav_back_icon@2x.png") no-repeat center
  background-size 25%

.header_title
  flex 1
  padding-right 50px
  line-height 50px
  text-align center
  position absolute
  top 0
  left 165px
  font-size 20px
  font-family '微软雅黑'

.info-cells
  background-color #fff
  margin-top 11px
 .info-cell
  padding 0 15px
  display flex
  line-height 40px
  border-bottom 1px solid #e1e1e1
  color #646464;
  font-family '微软雅黑'

.info-name
  flex 3
  font-size 18px

.info-image
  background url("../../img/nav_back_icon@2x.png") no-repeat center
  display block
  width 50px
  height 50px
.info-content
  flex 4
  text-indent 10px

.image-cell
  display flex
  margin-top 23px

.image-block
  flex 1
  margin 0 11px
  text-align center
  font-size 16px
  color #878787
  font-family '微软雅黑'

.image-block div
  width 100px
  height 65px
  margin 0 auto
  border-radius 5px
  background #878787
.footer-cells
  background-color #fff
  margin-top 20px
  width 100%
  height 130px
  position absolute
  top 80%
  z-index 30
.footer-cell
  padding 0 15px
  display flex
  border-bottom 1px solid #e1e1e1
  color #646464;
  font-family '微软雅黑'

.footer-camera
  flex 3
  font-size 18px
  line-height 43px
  text-align center
.footer-camera1
  color #ea5404
  margin-left 175px
  line-height 43px



