
body
  background #efeff4
.header
  background #fff
  height 70px
.header .header-title
  color #ff6700
  margin-left 180px
  font-family '微软雅黑'
  line-height 80px
  font-size 20px
.icon-back
  background url("../img/content_list_right_icon@2x.png") no-repeat left
  width 50px
  height 50px
.text
  color #999
  margin-left 15px
  margin-top 10px
  font-family '微软雅黑'
.info-box
  width 100%
  height 345px
  background #fff
  margin-top 10px
.info-box1
  position relative
  width 90px
  height 90px
  background #878787
  border-radius 50%
  margin 0 auto
  top 5%
  .info-text
    position absolute
    color #fff
    margin-left 15px
    top 40%
.btn
  width 270px
  height 45px
  background #efeff4
  margin-top 40px
  margin-left 80px
  border-radius 5px
.btn1
  width 270px
  height 45px
  background #efeff4
  margin-top 5px
  margin-left 80px
  border-radius 5px
.btn2
  width 270px
  height 45px
  background #efeff4
  margin-left 80px
  margin-top 5px
  border-radius 5px
.btn3
  width 270px
  height 45px
  background #efeff4
  margin-left 80px
  margin-top 5px
  border-radius 5px
.span-text
  color #999
  margin-left 15px
  margin-top 28px
  font-family '微软雅黑'
  background #efeff4
.footer
  width 100%
  height 180px
  background #fff
  margin-top 12px
  border 1px solid #fff
.footer-box
  width 270px
  height 45px
  background #efeff4
  margin-top 12px
  margin-left 80px
  border-radius 5px

.image-cell{
  display: flex;
  margin-top:23px;
}
    .image-bloak{
      flex: 1;
      margin:0 11px;
      text-align: center;
      font-size:16px;
      color:#878787;
      font-family:'微软雅黑';
      }
    .image-bloak div{
      width:100px;
      height: 65px;
      margin:0 auto;
      border-radius: 5px;
      background:#878787;
      }
.bottom
  width 90%
  height 50px
  background #ea5404
  border-radius 5px
  margin-top 5px
  margin-left 10px
  position relative
.bottom-text
  position absolute
  top 40%
  color #fff
  margin-left 170px
  margin-top -10px
  font-family '微软雅黑'
  font-size 22px









