@import "../head.styl"

.info_box
  padding 20px 15px
  background-color #fff
  .info_img
    width 65px
    height 65px
    margin 0 auto
  .info_name
    text-align center
    line-height 25px
    font-size 1.2rem
  .info_desc
    text-align center
    line-height 20px
    color #999
  .info_edit
     padding 8px 14px
     border 1px solid #ffa66b
     line-height 30px

.info-cells
  background-color #fff
  margin-top 20px
  .info-cell
   padding 0 15px
   line-height 40px
  .info-name
    flex 2px
  .info-content
    flex 3
    text-indent 10px

