body
  background #efeff4
.login_box
  position relative
  display flex
  height 95px
  margin-top 20px
  padding 0 15px

  .login_img
    position absolute
    left 0
    top 50%
    width 65px
    height 65px
    margin-top -32px
    border-radius 50%
    background url("../../img/log in_user-head@2x.png")
    background-size cover

  .login_con
    flex 1
    padding-left 80px
    line-height 95px

  &:after
    content ''
    position absolute
    top 50%
    right 15px
    display block
    margin-top -18px
    width 20px
    height 36px
    background url("")
    background-size 50%

.link_cell
  height 50px
  padding-left 45px
  background #fff url("../../img/content_list_icon01@2x.png") no-repeat left 15px center
  background-size 20px
  line-height 50px
  &:after
    position absolute
    content ''
    top 50%
    right 15px
    display block
    width 16px
    height 30px
    background url("../../img/content_list_icon01@2x.png") no-repeat left 15px center
    background-size 50%













