<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/info_index.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="login_box">
    <div class="login_img"></div>
    <div class="login_con">点击登录/注册</div>
</div>
<div class="s_box">
    <div class="s_left"><span class="zero">0</span><span>收藏</span></div>
    <div class="s_right"><span class="zero">0</span><span>积分</span></div>
</div>

<div class="link_cell">
    <span>我发布的需求</span>
</div>
<div class="link_cell0">
    <span>我发布的房源</span>
</div>
<div class="link_cell2">
    <span>我预约的房源</span>
</div>
<div class="link_cell3">
    <span>历史交易</span>
</div>
<div class="link_cell4">
    <span>过期房源</span>
</div>
</body>
</html>