@import'../head.styl'
.block_box
  padding 20px
  background-color #fff
  display flex
  line-height 30px
  margin-top 15px
  .img_box
    flex 2
    background url("../../img/content_img_list@2x.png") no-repeat center

  .info_box
    flex 3
    margin-left 20px

  .info_title
    font-size 20px
    font-family '微软雅黑'
    color #323232
  .info_number
    margin-left 50px
    font-size 10px

  .info_address
    font-size 16px
    font-family '微软雅黑'
    color #686565
  .info-tag_box
    border 1px solid #ea5404
    border-radius 5px
    width 70px
    height 25px
  .tag_text
    color #ea5404
  .price
    color #ea5404
    font-family '微软雅黑'
  .info_day
    color #727272
    font-size 14px
    font-family '微软雅黑'
  .info_footer
    color #727272
    font-size 14px
    font-family '微软雅黑'
    margin-left 16px



