@import '../head.styl'
  .header_title
    color #ea5404
.form-list
  height 160px
  padding 0
  margin-top 20px
  .form-cell
    display flex
    height 50px
    line-height 40px
    .form-cell-name
      display inline-block
      width 50px
      padding-left 30px
      background url("../../img/content_ID_icon@2x.png") 5px 10px no-repeat #fff
      background-size 35%
      font-family '微软雅黑'
    .form-cell-input
      flex 1
      border none
      outline none
      font-family '微软雅黑'
.footer_input
  position relative
  width 90%
  height 50px
  border-radius 7px
  background-color #dad7d7
  margin 0 auto
  .finish
    color #fff
    font-family '微软雅黑'
    position absolute
    left 170px
    top 12px
    font-size 20px
.text
  color #ea5404
  position relative
  top 25px
  left 30px
  font-family '微软雅黑'
.text1
  position relative
  top 25px
  left 245px
  font-family '微软雅黑'
  color #c7c7c7