@import '../head.styl'

.form-list
  height 200px
  padding 0
  margin-top 20px
  .form-cell
    display flex
    height 40px
    line-height 40px
    .form-cell-name
      display inline-block
      width 50px
      padding-left 30px
      background url("../../img/content_ID_icon@2x.png") 5px 10px no-repeat #fff
      background-size 25% 50%
    .form-cell-input
      flex 1
      border none
      outline none
  .number
    border-top 1px solid #d6d7dc
    height 40px
    line-height 40px
    background #fff

    .form-cell-num
      display inline-block
      width 80px
      padding-left 30px
      background url("../../img/content_verify_icon@2x.png") 5px no-repeat #fff
      background-size 15px 18px
    .form-key-word
      border none
      outline none
      margin-left -15px
      width 100px
    .btn
      height 30px
      line-height 30px
      float right
      margin-right 20px
      margin-top 5px
      background #ea5404
      color #fff
      text-align center
      border-radius 8px
      border none

  .form-cell-password
    display flex
    height 40px
    line-height 40px
    border-top 1px solid #d6d7dc

    .form-cell-key
      display inline-block
      width 50px
      padding-left 30px
      background  url("../../img/content_password_icon@2x.png") 5px 10px no-repeat #fff
      background-size 25% 50%
    .form-cell-key1
      display inline-block
      border-top 1px solid #d6d7dc
      width 50px
      padding-left 30px
      background  url("../../img/content_password_icon@2x.png") 5px 10px no-repeat #fff
      background-size 25% 50%

    .form-cell-keyword
      flex 1
      border none
      outline none
  .form-person
    border-top 1px solid #d6d7dc
    height 40px
    line-height 40px
    background #fff
    .form-cell-person
      display inline-block
      width 80px
      padding-left 30px
      background url("../../../public/img/APP/loading/content_position_icon@2x.png") 5px no-repeat #fff
      background-size 15px 18px
    .form-cell-kind
      border none
      outline none
      margin-left -15px
      width 100px
    .list
      display none
      position absolute
      border-radius 5px
      margin-top -20px
      float right
      right 10px
      .drop-down-list
        width 65px
        height 140px
        list-style none
        border-radius 5px
        .down-list
          background #a3a3a3
          border-bottom 1px solid #fff
          color #fff
          font-size 12px
          text-align center
          line-height 28px

      .form-person-img
        content ''
        position absolute
        float right
        margin-top -25px
        right 10px
        display block
        width 20px
        height 16px
        background url("../../img/content_position_icon@2x.png") no-repeat  center
        background-size 75%


      .bt_box
        .bt_login
          margin-left 5px
          margin-right 5px
          width 95%
          height 44px
          background #c7c7c7
          color #fff
          font-size 18px
          border-radius 8px
          margin-top 40px
          border none
      .text
        font-size 12px
        margin-left 20%
        margin-top 10px
        .name
          color #ea5404

