<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/component/search.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="header_box">
    <div class="input_box"><input type="text" placeholder=" &nbsp;&nbsp;&nbsp;&nbsp;挑好房，上Delivering warmers"></div>
    <div class="header_pic"></div>
    <div class="header_right">取消</div>
</div>
<div class="info_left">最近搜索</div>
<div class="info_right">清除</div>
<div class="footer_box">
    <span class="footer_text">创意产业园</span>
    <span class="footer_text1">陆家嘴</span>
</div>
</body>
</html>