<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/index-/about.css">
    <title>项目名-公司</title>
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">关于</span>
</header>
<div class="pic-box">
    <div class="pic-image"></div>
    <div class="title-image"></div>
    <span class="pic-title">v1.0.0</span>
</div>
<div class="footer-box">
    <span class="footer-title">电话</span>
    <span class="footer-number">021-68547845</span>
    <div class="icon"></div>
</div>
<div class="footer-box">
    <span class="footer-title">服务条款</span>
    <div class="icon"></div>
</div>
<span class="bottom">©2016AII Right Reserved.</span>
</body>
</html>