<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/index-/data.css">
    <title>项目名-公司</title>
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">个人资料</span>
</header>
<div class="info_box">
    <div class="info_img"></div>
    <div class="info_name">呱呱呱叫</div>
    <div class="info_desc">以前喜欢一个人，现在喜欢一个人</div>
    <div class="info_edit">编辑个人资料</div>
</div>
<div class="info-cells">

    <div class="info-cell">
        <span class="info-name">联系方式</span>
        <span class="info-content">18956015463</span>
    </div>

    <div class="image-cell">
        <div class="image-block">
            <div></div>
            <p class="title">房屋租赁合同</p>
        </div>
        <div class="image-block">
            <div></div>
            <p class="title">名片正面</p>
        </div>
    </div>
</div>
</body>
</html>