body {
  background-color: #efefef;
}
.header {
  height: 65px;
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid #d6d7dc;
}
.header .icon-back {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.header .header_title {
  flex: 1;
  padding-right: 60px;
  line-height: 60px;
  text-align: center;
  font-family: '微软雅黑';
  font-size: 20px;
}
.demand_cells {
  padding: 15px;
}
.demand_cell {
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #ccc;
  background-color: #fff;
  margin-bottom: 15px;
}
.demand_cell .demand-title {
  display: flex;
  height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #cecece;
}
.demand_cell .demand-title .d-t-name {
  flex: 1;
  line-height: 30px;
  font-family: '微软雅黑';
  margin-top: 5px;
}
.demand_cell .demand-title .demand_right {
  color: #999;
  font-family: '微软雅黑';
  margin-top: 15px;
  font-size: 12px;
}
.demand_cell .demand-info {
  margin: 0;
  padding: 10px;
  line-height: 1.2em;
  font-family: '微软雅黑';
  font-size: 15px;
}
.demand_cell .demand-footer {
  display: flex;
  height: 30px;
  line-height: 30px;
  padding: 10px 10px;
}
.demand_cell .demand-footer .btn-detail {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background-color: #efefef;
  text-align: center;
  color: #646464;
  font-family: '微软雅黑';
  margin-left: 150px;
  font-size: 15px;
}
