<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/login/editor.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="info-cover"></div>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">设置</span>
</header>
<div class="footer-box">
    <span class="footer-title">接收需求</span>
    <div class="icon_pic">
        <div class="icon_text"></div>
    </div>
</div>
<div class="footer-box">
    <span class="footer-title">关于</span>
    <div class="icon"></div>
</div>
<div class="footer-box">
    <span class="footer-title">清除缓存</span>
    <span class="footer-number">7.02M</span>
    <div class="icon"></div>
    <div class="footer">
        <span class="footer_text">退出登录</span>
    </div>
</div>

<div class="box">
    <span class="box-title">您确定要清理缓存么？</span>
    <div class="div"></div>
    <div class="box_left">取消</div>
    <div class="box-text">确定</div>
</div>
</body>
</html>