<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/login/finally.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="header">
    <div class="header_top"></div>
    <div class="header_left"></div>
    <div class="header_number"><span class="header_price">￥354615</span><span class="header_month">元/月</span></div>
    <div class="number_right"><span class="right_number">1</span>/12</div>
</div>
<div class="footer_box">

    <div class="footer_cells">单价￥6.5元/m/天</div>
    <div class="footer_cell">面积175m</div>
</div>
</body>
</html>