<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/login/history.css">
    <title>项目名-公司</title>
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">历史交易</span>
</header>
<article>
    <section class="block_box">
        <div class="img_box"></div>
        <div class="info_box">
            <div class="info_title">东方金融中心<span class="info_number">08/07</span></div>
            <div class="info_address">浦东-八佰伴</div>
            <div class="info-tag_box"><span class="tag_text">商务中心</span></div>
            <div class="info_price"><em class="price">&yen;7</em><span class="info_day"> &nbsp;元/平米/天起</span><span class="info_footer">佣金：1个月</span></div>
        </div>
    </section>
</article>
<article>
    <section class="block_box">
        <div class="img_box"></div>
        <div class="info_box">
            <div class="info_title">东方金融中心<span class="info_number">08/07</span></div>
            <div class="info_address">浦东-八佰伴</div>
            <div class="info-tag_box"><span class="tag_text">商务中心</span></div>
            <div class="info_price"><em class="price">&yen;7</em><span class="info_day">&nbsp; 元/平米/天起</span></div>
        </div>
    </section>
</article>
</body>
</html>