<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/login/need.css">
    <title>项目名-公司</title>
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">我发布的需求</span>
</header>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房要求</span><em class="demand_right">08/04/13:06</em></header>
        <p class="demand-info">需求为：外滩SOHO,200平米写字楼，简装带家私，租金8元/m/天左右，附近由地铁</p>
        <footer class="demand-footer" ><em class="text-time"></em><span class="btn-detail">了解详情</span></footer>
    </section>
    </article>
</body>
</html>