<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/login/register.css">
	<title>项目名-公司</title>
</head>
<body>
<header class="header">
	<i class="icon-back"></i>
	<span class="header_title">注册</span>
</header>
<article class="form-list">
	<section class="form-cell">
		<span class="form-cell-name">账号：</span>
		<input class="form-cell-input" type="text" placeholder="请输入您的手机号">
		</section>
		<section class="number">
			<span class="form-cell-num">验证码：</span>
			<input class="form-key-word" type="text" placeholder="请输入验证码">
			<button class="btn" type="button">获取验证码</button>>
		</section>
			<section class="form-cell-password">
				<span class="form-cell-key1">密码：</span>
				<input class="form-cell-keyword" type="password" placeholder="请输入您的密码">
				</section>
					<section class="form-cell-password">
						<span class="form-cell-key">密码：</span>
						<input class="form-cell-keyword" type="password" placeholder="请输入新的登录密码">
						</section>
							<section class="form-person">
								<span class="form-cell-person">身份：</span>
								<input class="form-cell-kind" type="text" placeholder="经纪人">
								<div class="form-person-img"></div>
								<div class="list">
									<ul class="drop-down-list">
										<li class="down-list">经纪人</li>
										<li class="down-list">小业主</li>
										<li class="down-list">运营商</li>
										<li class="down-list">代理商</li>
										<li class="down-list">开发商</li>
									</ul>
								</div>
								</section>
</article>
<div class="bt_box">
	<button class="btn_login">注册</button>
</div>
<div class="text">注册即代表同意<span class="name">《活力矩阵用户协议》</span></div>

</body>
</html>