<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/appointment/agreen.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="info_cover"></div>
<div class="header_box">
    <div class="header_left">取消</div>
    <div class="header_title">上传合同书</div>
    <div class="header_right">上传</div>
</div>
<div class="bg_text">请按照要求添加照片</div>
<div class="bg"></div>
<div class="box">
    <span class="box-title">您确定要取消本次上传？</span>
    <div class="div"></div>
    <div class="text_left">取消</div>
    <div class="box-text">确定</div>
</div>
</body>
</html>