<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/appointment/call_phone.css">
    <title>项目名-公司</title>
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">取消预订</span>
</header>
<div class="editor">预约人</div>
<div class="editor_phone">
    <div class="editor_pic"></div>
    <span class="editor_text">你才是张三<br/><span class="editor_text1">租户</span></span>
    <div class="phone"></div>
</div>
<div class="message">预约信息</div>
<div class="floor_box">
    <div class="floor_text">华旭国际大厦<br/><span class="text_middle">区域;黄埔-人民广场<br/>面积：766m </span>
        <span class="text_right">房型：商务中心<br/> &nbsp;单价：￥5.5/m/天起</span></div>
</div>
<div class="text_box">预约时间</div>
<div class="number_box">
    <div class="number">2016-08-08</div>
</div>
<div class="text_box">取消原因（至少选填一项）</div>
<div class="bottom_box">
    <div class="cell_box"></div>
    <div class="cell_text">客户不满意</div>
    <div class="cell_box1"></div>
    <div class="cell_text1">已经联系客户，预约取消</div>
    <div class="cell_box2"></div>
    <div class="cell_text2">其他原因</div>
</div>


<div class="footer_box">
    <div class="footer_text">确定</div>
</div>
</body>
</html>