<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/appointment/change_phone.css">
    <title>项目名-公司</title>
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">预约详情</span>
</header>
<div class="editor">预约人</div>
<div class="editor_phone">
    <div class="editor_pic"></div>
    <span class="editor_text">你才是张三<br/><span class="editor_text1">经纪人</span></span>
    <div class="phone"></div>
</div>
<div class="message">预约信息</div>
<div class="floor_box">
    <div class="floor_text">华旭国际大厦<br/><span class="text_middle">区域;黄埔-人民广场<br/>面积：766m </span>
        <span class="text_right">房型：商务中心<br/> &nbsp;单价：￥5.5/m/天起</span></div>
</div>
<div class="text_box">预约时间</div>
<div class="number_box">
    <div class="number">2016-08-08</div>
</div>
<div class="info_title">预约状态</div>
<div class="weekday_box">
    <div class="weekday_text">08/10<br/>周三</div>
    <div class="weekday_right">订单成功</div>
</div>
<div class="weekday_box1">
    <div class="weekday_text1">08/08<br/>周一</div>
    <div class="weekday_right1">已接单，带看房</div>
</div>
<div class="weekday_box2">
    <div class="weekday_text2">08/06<br/>周六</div>
    <div class="weekday_right2">等待对方接单</div>
</div>
</body>
</html>