<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/appointment/contract.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="header_box">
    <div class="header_left">取消</div>
    <div class="header_title">上传合同书</div>
    <div class="header_right">上传</div>
</div>
<div class="text">请按照要求添加照片</div>
<div class="footer_box">
    <div class="footer_pic"></div>
    <div class="footer_text">合同第一页</div>
</div>
<div class="footer_box">
    <div class="footer_pic"></div>
    <div class="footer_text">合同最后一页</div>
</div>
</body>
</html>