<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/appointment/order_taking.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="header_box">
    <div class="header_title">预约</div>
</div>
<article>
    <section class="block_box">
        <div class="img_box"></div>
        <div class="info_box">
            <div class="info_title">先生/女士:<span class="info_number">08/03/16:02</span></div>
            <div class="info_address"> &nbsp;&nbsp;我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</div>
            <span class="info_day"> 看房时间：08/08</span><div class="info_footer">
            <span class="footer_text">接单</span>
        </div>
        </div>
    </section>
</article>
<article>
    <section class="block_box">
        <div class="img_box"></div>
        <div class="info_box">
            <div class="info_title">先生/女士:<span class="info_number">08/07/16:02</span></div>
            <div class="info_address">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</div>
            <span class="info_day"> 看房时间：08/08<span class="info_text">已接单，待反馈</span></span>
        </div>
    </section>
</article>
<article>
    <section class="block_box">
        <div class="img_box"></div>
        <div class="info_box">
            <div class="info_title">先生/女士:<span class="info_number">08/07/16:02</span></div>
            <div class="info_address">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</div>
            <span class="info_day"> 看房时间：08/08<span class="info_text">已接单，待反馈</span></span>
        </div>
    </section>
</article>
<article>
    <section class="block_box">
        <div class="img_box"></div>
        <div class="info_box">
            <div class="info_title">先生/女士:<span class="info_number">08/07/16:02</span></div>
            <div class="info_address">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</div>
            <span class="info_day"> 看房时间：08/08<span class="info_text">已接单，待反馈</span></span>
        </div>
    </section>
</article>
<article>
    <section class="block_box">
        <div class="img_box"></div>
        <div class="info_box">
            <div class="info_title">先生/女士:<span class="info_number">08/07/16:02</span></div>
            <div class="info_address">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</div>
            <span class="info_day"> 看房时间：08/08<span class="info_text">已接单，待反馈</span></span>
        </div>
    </section>
</article>
</body>
</html>