<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/msg/msg.css">
    <title>项目名-公司</title>
</head>
<body>
<header class="tab_box">
    <ul class="tab_bar">
        <li class="tab_bar_cell">消息</li>
        <li class="tab_bar_cell active">通知</li>
        <li class="tab_bar_cell">需求</li>
    </ul>
</header>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动了！</span></header>
        <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩,陆家嘴,徐汇滨江,北外滩......你眼中“醉美”
        的滨江夜景在哪里？</p>
        <footer class="demand-footer" ><em class="text-time"></em><em class="text-time">08/04/12:12</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动了！</span></header>
        <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩,陆家嘴,徐汇滨江,北外滩......你眼中“醉美”
            的滨江夜景在哪里？</p>
        <footer class="demand-footer" ><em class="text-time"></em><em class="text-time">08/04/12:12</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动了！</span></header>
        <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩,陆家嘴,徐汇滨江,北外滩......你眼中“醉美”
            的滨江夜景在哪里？</p>
        <footer class="demand-footer" ><em class="text-time"></em><em class="text-time">08/04/12:12</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动了！</span></header>
        <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩,陆家嘴,徐汇滨江,北外滩......你眼中“醉美”
            的滨江夜景在哪里？</p>
        <footer class="demand-footer" ><em class="text-time"></em><em class="text-time">08/04/12:12</em></footer>
    </section>
</article>
</body>
</html>