<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/release/add.css">
    <title>项目名-公司</title>
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">新增楼盘</span>
</header>
<div class="input_box">
<input type="text" placeholder=" 输入您想要增加的楼盘">
</div>
<div class="input_box_two">
    <input type="text" placeholder=" 输入楼盘的地址">
</div>
<div class="footer_box">
    <div class="footer_title">确定提交</div>
</div>
</body>
</html>