<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/release/need_success.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="box">
    <span class="box-title">需求完成后，请稍候</span>
    <div class="div"></div>
    <div class="box-text">确定</div>
</div>
</body>
</html>