<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/release/release.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="header">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <span class="header_text">发布需求</span>
    <span class="header_text1">发布房源</span>
    <div class="footer_box">
        <div class="footer_pic"></div>
    </div>
</div>

</body>
</html>