<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
	maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../public/css/release/return.css">
    <title>项目名-公司</title>
</head>
<body>
<div class="info_cover"></div>
<div class="header_box">
    <div class="header_left">取消</div>
    <div class="header_title">发布需求</div>
    <div class="header_right">发布</div>
</div>
<div class="input_box">
    <input type="text" placeholder=" 周杰伦">
</div>
<div class="input_box_two">
    <input type="text" placeholder=" 18956214521">
</div>
<div class="input_two">
    <textarea type="text" placeholder=" 描述一下您的需求，比如黄埔100-200平米，5-6元/ 平米/天，环境好点，底层，临近地铁。"></textarea>
</div>

<div class="box">
    <span class="box-title">您确定要退出此次发布？</span>
    <div class="div"></div>
    <div class="text_left">取消</div>
    <div class="box-text">确定</div>
</div>
</body>
</html>