body
  background-color #efefef
.header_box
  background-color #fff
  height 60px

  .header_title
    color #ff6700
    font-family '微软雅黑'
    padding-top 20px
    margin-left 15px
  .header_text
    text-align center
    color #666
    font-family '微软雅黑'
    margin-top -18px
.footer_box
  height 600px
  background-color #fff
  margin-top 2px
  .footer_text
    color #666
    font-family '微软雅黑'
    margin-left 20px
    position absolute
    top 80px
    left 10px
    right 0
    padding-bottom 15px
    border-bottom 1px solid #c0c0c0
  .footer_text1
    color #666
    font-family '微软雅黑'
    margin-left 20px
    position absolute
    top 120px
    left 10px
    right 0
    padding-bottom 16px
    border-bottom 1px solid #c0c0c0