.radio_block
  display inline-block
  height 24px
  line-height 24px

  .radio_btn
    display inline-block
    width 12px
    height 12px
    margin 6px
    vertical-align bottom
    border 2px solid #ff6666
    border-radius 50%
  &.selected
    .icon
      display inline-block
      width 4px
      height 4px
      margin 2px
      border 2px solid transparent
      background-color #ff6666
      border-radius 50%
.select_box
  width 80%
  position relative
  .select-title
    position relative
    height 40px
    padding 0 10px
    background-color #efefef
    border 1px solid #cecece
    border-radius 5px
    line-height 40px
    &:before
    &:after
      content ''
      position absolute
      top 14px
      rigth 22px
      display block
      width 2px
      height 12px
      background-color #ababab
      transform rotate(-45deg)
    &:after
      right 15px
      transform rotate(45deg)
  .select-list
    display none
    position absolute
    left 0
    right 0
    top 38px
    z-index 5
    list-style none
    border 1px  solid #cecece
    background-color #efefef
    margin 0
    padding 0
    border-radius 0 0 5px 5px
    .select-li
      position relative
      height 40px
      padding 0 10px
      line-height 40px
      &:after
        content ''
        position absolute
        bottom 0
        left 10px
        right 0
        display block
        height 1px
        background-color #cecece
      &:last-child:after
        display none




