body
  background #efefef

.header_box
  height 60px
  background-color #fff
  .header_title
    color #a7a5a4
    text-align center
    font-size 20px
    font-family '微软雅黑'
    padding-top 20px

.block_box
  padding 20px
  background-color #fff
  display flex
  line-height 23px
  margin-top 15px

  .img_box
    flex 2
    background url("../../img/content_img_home02@2x.png") no-repeat center
    background-size 100%
    border-radius 5px
  .info_box
    flex 3
    margin-left 20px
  .info_title
    font-size 14px
    font-family '微软雅黑'
    color #323232
  .info_number
    margin-left 75px
    font-size 10px
    color #c0c0c0
  .info_address
    font-size 15px
    font-family '微软雅黑'
    color #686565

  .info_day
    color #ea5404
    font-size 14px
    font-family '微软雅黑'
    .info_text
      color #666

  .info_footer
    background-color #ff6700
    height 25px
    width 65px
    flex 1
    text-align right
    margin-left 150px
    border-radius 5px
    .footer_text
      color #fff
      font-family '微软雅黑'
      margin-right 17px
      font-size 14px
