body
  background #efefef
.header_box
  height 60px
  background-color #fff
  .header_title
    font-size 15px
    color #666
    font-family '微软雅黑'
    position absolute
    left 5%
    top 25px
  .header_right
    font-size 20px
    color #666
    font-family '微软雅黑'
    position absolute
    left 42%
    top 22px
.info_box input
  height 40px
  border-radius 5px
  width 70%
  margin-top 20px
  border 1px solid #fff
  margin-left 15px
.right_pic
  background url("../../img/content_plus_icon@2x.png") no-repeat center
  background-size 50%
  width 35px
  height 35px
  position absolute
  left 75%
  top 88px
.right_text
  color #666
  position absolute
  left 82%
  top 96px
  font-family '微软雅黑'
.info_boxes
  height 330px
  background-color #fff
  margin-top 20px
  position relative
  .info_div
    height 8px
    width 8px
    background greenyellow
    border-radius 50%
    position absolute
    left 20px
    top 20px
  .info_text
    color #666666
    font-family '微软雅黑'
    position absolute
    left 32px
    top 15px
  .info_title
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 50px
    top 38px
  .title_right
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 39px
  .info_title1
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 50px
    top 68px
  .title_right1
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 69px
  .info_title2
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 50px
    top 98px
  .title_right2
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 99px
  .info_title3
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 50px
    top 128px
  .title_right3
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 129px
  .info_title4
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 50px
    top 158px
  .title_right4
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 159px
  .info_title5
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 50px
    top 188px
  .title_right5
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 189px
  .info_title6
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 50px
    top 218px
  .title_right6
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 219px
  .info_title7
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 22px
    top 248px
  .title_right7
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 249px
  .info_title8
    color #727272
    font-size 14px
    font-family '微软雅黑'
    position absolute
    left 50px
    top 278px
  .title_right8
    font-size 13px
    color #c7c7c7
    border-bottom 1px solid #ccc
    position absolute
    right 0
    left 0
    padding-bottom 6px
    font-family '微软雅黑'
    left 23%
    top 279px

.house_box
  height 800px
  background-color #fff
  margin-top 15px
  position relative
  .house_cell
    width 8px
    height 8px
    background-color #2aabd2
    border-radius 50%
    position absolute
    left 20px
    top 20px

  .house_text
    font-family '微软雅黑'
    font-size 17px
    color #666666
    position absolute
    top 15px
    left 35px
  .house_title
    font-family '微软雅黑'
    font-size 16px
    color #666666
    position absolute
    top 45px
    left 45px




















